
.wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.no-data{
	text-align: center;
	color: #f33;
}

h1 {
	text-align: center;
	font-size: 3em;
}

.card-container{
	width: 40%;
	display: flex;
	flex-direction: column;
	margin-bottom: 2%;
}

.top{
	background: #999;
	
}

.title{
	font-size: 1.25em;
	text-align: center;
}



h3, .star-text{
	color: white;
	margin-left: 5%;
}

.bottom{
	background: #4d4d4d;
	display: flex;
  justify-content: center;
  align-items: center;
}

.language{
	width: 90%;
}


.link{
	color:#fff;
	text-decoration: none;
	font-size: 2em;
	margin-right: 10%;
}

.link:hover{
	color: #ccc;
}