<div class="center-container">
  
<app-spinner-loader *ngIf="isLoading"></app-spinner-loader>
<h1>{{ isLoading ? 'Loading...' : 'Github Projects' }}</h1>
<div class="wrapper">
    <div class="card-container" *ngFor="let repo of githubRepos">
      <div class="top">
        <h2 class="title">{{repo.name}}</h2>       
        <p class="star-text">Stars: {{repo.stargazers_count}}</p>
      </div>
      <div class="bottom">
       <h3 class="language">{{repo.language || 'not available'}}</h3>
       <a [href]="repo.clone_url" class="link">#</a>
      </div>
    </div>
</div>

</div>