mat-toolbar {
	justify-content: space-between;
	margin-bottom: 2%;
	border-bottom-style: 50px rgba(0, 0, 0, 0.5);
}

div {
	padding: 2%;
}

span.active {
	color:#f39;
}

span:hover {
	color: #f3f;
}