.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	text-align: center;
  align-self: center;
	background: #aaa;
	color: #fff;
}

img {
	width: 40%;
	border-radius: 50%;
	margin-top: 2%;
}

.name{
	margin-top: 5%;
	font-size: 4em;
	text-align: center;
}

.role{
	font-size: 2em;
	text-align: center;
}

p.summary{
	font-size: 1.5em;
	text-align: center;
}

textarea{
	margin: 5%;
	padding: 2%;
	resize: none;
	border: 5% solid;
	background: #333;
	color: #fff;
	font-size: 1.5em;
	width: 80%;
}

button {
	width: 40%;
	padding: 2%;
	margin-bottom: 2%;
}