<h1 class="title">Skills</h1>
<p *ngIf="skills.length === 0">Add a skill from the form below</p>
<div class="single-skill" *ngFor="let skill of skills">
	<h3>{{skill}}</h3> 
	<button mat-raised-button color="primary" (click)="setUpdate(skill)" [disabled] = "isAdding" >Edit</button>
	<button mat-raised-button (click)="removeSkill(skill)" [disabled] = "isUpdating">X</button>  
</div>
<input *ngIf="canEdit" [(ngModel)] = "formValue"/>
<button mat-raised-button (click)="setEdit()" class="save-button">
	{{ canEdit === true ? 'Save' : 'Add Skill'}}
</button>
