<div class="container bg-gray-100 sm:flex sm:flex-col">
	<h1 class="font-bold text-2xl text-center sm:text-5xl md:text-3xl">Skills</h1>
	<p *ngIf="skills.length === 0">Add a skill from the form below</p>
	<div class="flex justify-around items-center bg-white shadow-md rounded-x1 m-2 sm:p-10 md:p-0" *ngFor="let skill of skills">
		<P class="text-center sm:text-2xl sm:font-black md:text-base">{{skill}}</P>
		<div class="flex justify-around buttons">
			<button class="m-2 bg-gray-500 text-white p-2 rounded-lg w-1/2 disabled:opacity-50" (click)="setUpdate(skill)" [disabled] = "isAdding" >Edit</button>
			<button class="m-2 bg-red-500 text-white p-2 rounded-lg w-1/2 disabled:opacity-50" (click)="removeSkill(skill)" [disabled] = "isUpdating">Delete</button>
		</div>
	</div>
	<input class="p-5 w-8/12 bg-gray-300 ml-5 mb-5 text-black shadow-md rounded font-black sm:w-11/12" maxlength="15" *ngIf="canEdit" [(ngModel)] = "formValue"/>
	<button class="m-2 bg-blue-400 text-white p-3 rounded-lg" (click)="setEdit()">
	{{ canEdit === true ? 'Save' : 'Add Skill +'}}
	</button>
</div>
