div.container,{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ccc;
	text-decoration: none;
}

h1.title{
	text-align: center;
	font-size: 5em;
}

div.skills{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.single-skill {
	flex-basis: 90%;
}

div.skill-options button {
	text-align: left;
	width: 50px;
	padding: 20%;	
	border: 0;
}

div.skill-options button:nth-child(even) {
	background: #000;
	color:#ddd;

}


input{
	width: 60%;
	margin: 5%;
	padding: 2%;
	resize: none;
	border: 5% solid;
	background: #333;
	color: #fff;
	font-size: 1.2em;
}


button.save-button {
	width: 40%;
	padding: 2%;
	margin: 10% 0;
	text-align: center;
}
