div.container,{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ccc;
	text-decoration: none;
}

h1.title{
	text-align: center;
}

ul.skills{
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: center;
	align-items: center;
}

li {
	width: 80%;
}

input{
	width: 80%;
	margin: 5%;
	padding: 5%;
	resize: none;
	border: 5% solid;
	background: #333;
	color: #fff;
	font-size: 1.15em;
}

button:not(.save-button) {
	width: 40%;
	padding: 2%;
	margin: 2%;
	text-align: center;
}

button.save-button {
	width: 40%;
	padding: 2%;
	margin-bottom: 10%;
	text-align: center;
}
